<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="highwayproj.highway.presentation.HighwayModelWizardID"
            name="%_UI_HighwayModelWizard_label"
            class="highwayproj.highway.presentation.HighwayModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HighwayModelFile.gif">
         <description>%_UI_HighwayModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="highwayproj.highway.presentation.HighwayEditorID"
            name="%_UI_HighwayEditor_label"
            icon="icons/full/obj16/HighwayModelFile.gif"
            extensions="highway"
            class="highwayproj.highway.presentation.HighwayEditor"
            contributorClass="highwayproj.highway.presentation.HighwayActionBarContributor">
      </editor>
   </extension>

</plugin>
